#status{

    text-align: center;
    width:100%;
    height: 100%;
    

    margin-bottom: 5%;
}

.card{
    
    text-align: center;
}

#search{

    border-style: solid;
    border-color: black;

    
    
}


textarea{

    display: block;
    resize:none;
    width:90%;
    height:100%;
    margin-top: 10%;
    float:left;

   
  
    
}

#searchBtn{


    display: block;
    float:left;
    margin-top:9.8%;
    width:10%
 
}

#clear{
    
    margin-top:5%;
    width:30%;
    height:30px;
    text-align: center;
    margin-left: 33%;
}